@* @{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="~/css/login.css" rel="stylesheet" />
</head>
<body>
    <div class="login-container">
        <h1>Giriş Yap</h1>

        @if (ViewBag.ErrorMessage != null)
        {
            <p class="error-message">@ViewBag.ErrorMessage</p>
        }

        <form asp-action="Login" method="post">
            <div class="form-group">
                <label for="username">Kullanıcı Adı:</label>
                <input type="text" id="username" name="Username" placeholder="Kullanıcı Adınızı Girin" required />
            </div>

            <div class="form-group">
                <label for="password">Şifre:</label>
                <input type="password" id="password" name="Password" placeholder="Şifrenizi Girin" required />
            </div>

            <button type="submit" class="btn-primary">Giriş Yap</button>

        </form>
        <form>
            <button type="button" class="btn-secondary" asp-action="Register">Kayıt Ol</button>
        </form>
        <li class="nav-item">
            <a asp-controller="Login" asp-action="Register">Register</a>
        </li>
    </div>

</body>
</html> *@
@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<div>
    <div>
        <h1 class="display-4 border-bottom text-center pb-2">@ViewData["Title"]</h1>
    </div>
</div>

<div class="row">
    <div class="col-4 offset-4">
        <form method="post">
            <div class="form-group mb-3">
                <label asp-for="Username" class="form-label">Username</label>
                <input asp-for="Username" class="form-control" placeholder="johndoe"/>

            </div>
            <div class="form-group mb-3">
                <label asp-for="Password" class="form-label">Password</label>
                <input asp-for="Password" class="form-control" placeholder="P@ssword!" />

            </div>
            <div class="form-group d-grid mb-3">
                <button type="submit" class="btn btn-primary d-block">
                    <i class="fa-solid fa-right-to-bracket me-2"> </i>Login
                </button>
            </div>
        </form>
    </div>
</div>