@model RegisterVM
@{
    ViewData["Title"] = "Register";
}

<div>
    <div>
        <h1 class="display-4 border-bottom text-center pb-2">@ViewData["Title"]</h1>
    </div>
</div>

<div class="row">
    <div class="col-4 offset-4">
       <form asp-controller="Account"asp-action="Register">
     <div asp-validation-summary="ModelOnly" class="text-warning small"></div>

     <div class="row justify-content-between">
         <div class="form-outline col-6 mb-2">
             <span asp-validation-for="firstName" class="text-warning small"></span>
             <input asp-for=" firstName" type="text" class="form-control"
                    placeholder="" />
             <label class="form-label" asp-for=" firstName">Adı</label>

         </div>
         <div class="form-outline col-6 mb-2">
             <span asp-validation-for="lastName" class="text-warning small"></span>
             <input asp-for=" lastName" type="text" class="form-control"
                    placeholder="" />
             <label class="form-label" asp-for=" lastName"> Soyadı</label>

         </div>
     </div>

     <div class="form-outline mb-2">
         <span asp-validation-for=" phone" class="text-warning small"></span>
         <input asp-for="phone" type="text" class="form-control"
                placeholder="000 000 0000" pattern="[0-9]{3} [0-9]{3} [0-9]{4}" />
         <label class="form-label" asp-for="phone">Telefon</label>

     </div>

     

     <div class="form-outline mb-2">
         <span asp-validation-for="email" class="text-warning small"></span>
         <input asp-for=" email" type="email" class="form-control"
                placeholder="Email Adress" />
         <label class="form-label" asp-for=" email">Email</label>

     </div>

     <div class="form-outline mb-2">
         <span asp-validation-for="password" class="text-warning small"></span>
         <input asp-for="password" type="password" class="form-control" placeholder="*" />
         <label class="form-label" asp-for="password">Password</label>

     </div>

     <div class="form-outline mb-2">
         <span asp-validation-for="repassword" class="text-warning small"></span>
         <input asp-for="repassword" type="password" class="form-control" placeholder="*" />
         <label class="form-label" asp-for="repassword">Re-Password</label>

     </div>

     <div class="form-outline mb-2">
         <span asp-validation-for="Gender" class="text-warning small"></span>
         <input asp-for="Gender"  class="form-control" />
         <label class="form-label" asp-for="Gender">Gender</label>

     </div>

     <div class="text-center pt-1 mb-5 pb-1">
         <button class="btn btn-primary col-12 gradient-custom-2 mb-3" type="submit">
             Sign
             up
         </button>
         <br />
     </div>
 </form>
    </div>
</div>