.navbar {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    box-shadow: none;
}


    .navbar .nav-link,
    .navbar .btn {
        color: white;
        background: transparent;
        font-weight: 500;
        transition: color 0.3s ease;
    }

        .navbar .nav-link:hover,
        .navbar .btn:hover {
            color: gray;
        }


    .navbar .btn-login {
        display: flex;
        align-items: center;
        color: white;
    }
    .navbar .btn-register {
        display: flex;
        align-items: center;
        color: white;
    }

        .navbar .btn-login:hover {
            color: gray;
        }

body {
    overflow: hidden;
    background-image: url('/images/cetoDesign.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0; /* Varsayılan marginleri kaldırır */
    padding: 0; /* Varsayılan paddingleri kaldırır */
    height: 100vh; /* Yüksekliği ekran yüksekliğine eşitler */
    background-position: center; /* Ortalanır */
}
