@model Hairdresser.Models.Servis
<div class="alert-danger"> @TempData["msj"]</div>
<link rel="stylesheet" href="~/css/form.css?v=@DateTime.Now.Ticks" />
    <hr />
   <section class="form-container">
        <h2>Add Service</h2>
        <div class="alert alert-danger"> @TempData["msj"]</div>
        <form asp-action="AddService">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Price" class="form-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Gender" class="form-label"></label>
                <input asp-for="Gender" class="form-control" />
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="d-grid">
                <input type="submit" value="Add Service" class="btn btn-primary btn-lg" />
            </div>
        </form>
        <div class="text-center mt-3">
            <a asp-action="Service" class="btn btn-link">Back To List</a>
        </div>
    </section>